{% extends "common/base.html" %}

{% block extracss %}
<link href="/static/gallery/css/responsive-image-grid.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block header %}
<h1>{{ gallery.title }}</h1>
<h2>a
{% if gallery.publicity == 'PRI' %}
  private
{% elif gallery.publicity == 'FRO' %}
  friends-only
{% else %}
  public
{% endif %}
gallery by {{person.publicName}}</h2>
{% endblock %}

{% block content %}

<p class="work-body-text">
{% autoescape off %}
{{ blurb }}
{% endautoescape %}
</p>


<div id="works-list">
    {% for preview in works %}
    <div class="gallery-preview">
      <a href="{{preview.url}}">
	{% if preview.thumbnail %}
	<p>
          <img src="{{preview.thumbnail}}">
	  </p>
	{% endif %}
	<h2>
	{{ preview.title }}
	</h2>
	<p>
	  {{ preview.date }}
	  </p>
      </a>
    </div>

    {% endfor %}
</div>
<br clear="all">
{% endblock %}

{% block sidebar %}
{% if editable %}
    {% if gallery.secret_key %}
      <p>Invite Link: https://nindokag.net/{{person.publicName}}/{{gallery.urlname}}?invite={{ gallery.secret_key.key_string }}</p>
    {% endif %}
    <p><a href="/{{person.publicName}}/{{gallery.urlname}}/new">New Work</a></p>
    <p><a href="/{{person.publicName}}/{{gallery.urlname}}/edit">Edit Gallery</a></p>
    <p><a href="/unused_document_browser">Unused Document Browser</a></p>
    <p><a href="/{{person.publicName}}/multi_file_upload">Multi-File Upload</a></p>
  {% endif %}

  <p><a href="/{{person.publicName}}">About {{ person.publicName }}</a></p>
  <p><img src="{{ person.pictureUrl }}"></p>
  <p>Other stuff by {{ person.publicName }}:</p>
  <ul>
  {% for gal in othergalleries %}
    <li><a href="/{{person.publicName}}/{{gal.urlname}}">{{gal.title}}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
    
