{% extends "common/base.html" %}
{% block content %}

<h2>Gallery {{ gallery.title }}</h2>
<p>By <a href="/{{ person.publicName }}">{{person.publicName}}</a>.</p>
{% if gallery.publicity == 'PRI' %}
    <p>Private Collection</p>
{% elif gallery.publicity == 'FRO' %}
    <p>Friends-Only Collection</p>
{% else %}
    <p>Public Collection</p>
{% endif %}

<h2>{{ gallery.title }}</h2>

{% autoescape off %}
{{ blurb }}
{% endautoescape %}

<p>By <a href="/{{person.publicName}}">{{ person.publicName }}</a>.</p>

<div id="works-list">
  <ul>
    {% for preview in works %}
      {% autoescape off %}
        {{ preview }}
      {% endautoescape %}
    {% endfor %}
  </ul>
</div>

{% if editable %}
  <a href="/{{person.publicName}}/{{gallery.urlname}}/new">New Work</a>
  <a href="/{{person.publicName}}/{{gallery.urlname}}/edit">Edit Gallery</a>
{% endif %}
{% endblock %}
