{% extends "common/base.html" %}

{% block extracss %}
<link href="/static/gallery/css/writing-display.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block extrajs %}
<script src="/static/gallery/js/img_catalog.js"></script>
{% endblock %}


{% block header %}
<h1>Uploaded Images and Documents Not Yet Used In A Post</h1>

{% endblock %}


{% block content %}

  {% for doc in documents %}
<p>
  <input type="checkbox" class="img_select_checkbox" id="{{doc.id}}">
  <img src="{{doc.url}}" width="200px">
</p>
<!-- TODO: Default to having all images checked that were part of most recent upload -->
  {% endfor %}

{% endblock %}

{% block sidebar %}
<div id="floating-controls">
  <form id="creation-form">
    <p><span id="status-message">0</span> imgs selected</p>
    <p>
      Create: <select id="what-to-create" name="what-to-create">
      <option value="text-work">New Text Work With Selected Images Embedded</option>
      <option value="expand-gallery">Add Selected Images To Existing Gallery</option>
      <option value="new-gallery">Create New Gallery From Selected Images</option>
      </select>
    </p>
    <p id="gallery-to-add-to">
      Gallery: <select name="gallery-to-add-to">
      {% for gallery in galleries %}
        <option value="{{gallery.id}}">{{gallery.title}}</option>
	{% endfor %}
      </select>
    </p>
    <p>
      Title: <input type="text" id="new-title" name="new-title"></input> <!-- hide if add to existing gallery is selected-->
    </p>
    <input type="button" value="Create" id="create-button"/>
    <!-- Javascript will handle submission when this is clicked -->
  </form>
</div>

{% endblock %}
