{% extends "common/base.html" %}

{% block extracss %}
{% endblock %}


{% block header %}
<h1>Multi-File Upload</h1>
<h2>For {{ person.publicName }}

{% endblock %}

{% block content %}

    <h1>Upload Multiple Files</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="files" multiple required>
        <button type="submit">Upload Files</button>
    </form>
    
    {% if success %}
        <p>Uploaded {{ count }} files!</p>
        {% for file in files %}
            <p>{{ file.name }} ( {{ file.size }} )</p>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block sidebar %}
  <p><a href="/unused_document_browser">Unused Document Browser</a></p>
{% endblock %}
