{% extends "common/base.html" %}

{% block header %}
{% endblock %}

{% block content %}

{{ errorMsg }}

Creating a new gallery for {{ person.publicName }}.

<form method="POST" action="">
  {{ form.non_field_errors }}
  {{ form.errors }}
  <table>
    {% for field in form %}
    <tr>
      <th>{{ field.label }}</th>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
    <tr>
    <td>{% csrf_token %}</td>
    <td><input type="submit" value="Save"/></td>
  </tr>
</table>
</form>


{% endblock %}
