{% extends "common/base.html" %}

{% block extrajs %}
<script src="/static/gallery/js/edit_work.js"></script>
{% endblock %}

{% block header %}
  <h2>New Work</h2>

    {{ errorMsg }}
 
  <p>{{ person.publicName }} is creating a new work in gallery {{ gallery.title }}.</p>
{% endblock %}

{% block content %}
<div id="column-container">
  <div id="left-col" class="two-column">
    <form method="POST" action="">
    {% csrf_token %}
    {{ work_form.non_field_errors }}
    <table>
    {{ work_form.as_table }}
    </table>
    {{ document_form.non_field_errors }}
    <table>
    {{ document_form.as_table}}
    </table>
    <input type="submit" value="Save"/>
    </form>
  </div>

  <div id="right-col"class="two-column">
    <h3>Preview</h3>
    <div id="preview-box" style="border-style: solid; border-color:
      black;">
      &nbsp;&nbsp;
    </div>
  </div>
</div>

{% endblock %}
