{% extends "common/base.html" %}

{% block header %}
<h1>The Antisocial Network</h1>
{% endblock %}


{% block content %}

Person page for {{ person.publicName }}

<img src="{{ person.pictureUrl }}">

<h2>Bio</h2>
{% autoescape off %}
{{ bio }}
{% endautoescape %}

<h2>Galleries</h2>
{% for gallery in galleries %}
  <p><a href="/{{person.publicName}}/{{gallery.urlname}}">{{gallery.title}}</a></p>
{% endfor %}

{% if editable %}
  <a href="/{{person.publicName}}/edit">Edit</a>
  <a href="/{{person.publicName}}/newgallery">New Gallery</a>
{% endif %}

{% endblock %}