{% extends "common/base.html" %}

{% block header %}
<h1>{{ person.publicName }}'s Profile</h1>
{% endblock %}


{% block content %}

<p><img src="{{ person.pictureUrl }}"></p>

<h2>{{ person.publicName }}'s Bio</h2>
<div class="work-body-text">
  {% autoescape off %}
  {{ bio }}
  {% endautoescape %}
</div>


<h2>{{ person.publicName }}'s Galleries</h2>
<div class="navigation">
  {% for gallery in galleries %}
    <p><a href="/{{person.publicName}}/{{gallery.urlname}}">{{gallery.title}}</a></p>
  {% endfor %}
</div>
{% endblock %}

{% block sidebar %}
  {% if editable %}
    <p><a href="/{{person.publicName}}/edit">Edit Bio</a></p>
    <p><a href="/{{person.publicName}}/newgallery">New Gallery</a></p>
  {% endif %}
{% endblock %}
