{% extends "common/base.html" %}

{% block header %}
<h1>{{ work.title }}</h1>
<h2>part of gallery {{gallery.title}} by {{person.publicName}}</h2>

{% endblock %}

{% block content %}

<div class="navigation">
  {% if previousWork %}
  <a href="/{{person.publicName}}/{{gallery.urlname}}/{{previousWork.urlname}}">Previous: {{ previousWork.title }}</a>
<!-- easier to implement if we had a URL for getting a work by sequence num -->
  {% endif %}
&nbsp;&nbsp;
<a href="/{{person.publicName}}/{{gallery.urlname}}">Back to gallery</a>
&nbsp;&nbsp;
  {% if nextWork %}
  <a href="/{{person.publicName}}/{{gallery.urlname}}/{{nextWork.urlname}}">Next: {{ nextWork.title }}</a>
  <!-- easier to implement if we had a URL for getting a work by sequence num -->
  {% endif %}
</div>
    <br><br>
    <div id="work-body">
      {% if documents %}
	  {% for document in documents %}
	     {% if document.filetype == "IMG" %}
               <img src="{{ document.docfile.url }}" width="100%" maxwidth="1024px">
             {% else %}
               <a href="{{ document.docfile.url }}">{{ document.docfile.url }}</a>
             {% endif %}
          {% endfor %}
      {% else %}
        <p>No documents.</p>
      {% endif %}

      <div class="work-body-text">
        {% autoescape off %}
          {{ body }}
        {% endautoescape %}
      </div>

      <p><i>Last modified {{ work.modifyDate }}.</i></p>

    </div>

{% endblock %}

{% block sidebar %}
  {% if mine %}
    <p><a href="/{{person.publicName}}/{{gallery.urlname}}/{{work.urlname}}/edit">Edit {{work.title}}</a></p>
    <p><a href="/{{person.publicName}}/{{gallery.urlname}}/{{work.urlname}}/delete">Delete {{work.title}}</a></p>
  {% endif %}

  <p><a href="/{{person.publicName}}">About {{ person.publicName }}</a></p>
  <p><img src="{{ person.pictureUrl }}"></p>
  <p>Other stuff by {{ person.publicName }}:</p>
  <ul>
  {% for gal in othergalleries %}
    <li><a href="/{{person.publicName}}/{{gal.urlname}}">{{gal.title}}</a></li>
  {% endfor %}
  </ul>

{% endblock %}
