<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<title>The Antisocial Network</title>

<script src="/static/common/js/jquery-1.11.1.js"></script>
<script src="/static/common/js/apputils.js"></script>
{% block extrajs %}
{% endblock %}

<link href="/static/common/main.css" type="text/css" rel="stylesheet"/>
{% block extracss %}
{% endblock %}
</head>

<body>
  <div id="header">
    <table width = "100%">
      <tr>
      <td width="30%" align="left">
	<!-- <a href="">What's the deal with this website?</a><br> -->
	<a href="/feed">RSS Feed</a>
      </td>

      <td width="40%">
	<div class="centered-outer">
          <div class="centered">
	    {% block header %}
	    {% endblock %}
	  </div>
	</div>
      </td>

      <td width="30%" align="right">
	{% if viewer %}
          <a href="/{{viewer.publicName}}">Home</a>&nbsp;
          You are logged in as: {{viewer.publicName}}&nbsp;
          <a href="">Logout</a>
	{% else %}
	  <a href="/">Login</a> &nbsp;&nbsp; <a href="/accounts/create">Sign Up</a>  
	{% endif %}
      </td>
      </tr>
    </table>
  </div>


  <table width="100%">
    <tr>
      <td width="80%" id="main">
	<div id="content-container" class="centered-outer">
	  <div id="content" class="centered">
	    {% block content %}
	    {% endblock %}
	    
	    <br><br><br><hr>
	    This website is<br>
	    <img src="/static/common/under_construction.gif"><br>
	    under construction.
	  </div>
	</div>
      </td>
      <td width = "20%" id="sidebar" valign="top">
	<div class="navigation">
          {% block sidebar %}
          {% endblock %}
	</div>
      </td>
    </tr>
  </table>

</body>
</html>
