{% extends "common/nosidebar.html" %}

{% block header %}
  <h2>{{ whois }}'s Antisocial Network</h2>
{% endblock %}

{% block content %}

  <table class="frontpage">
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr>
    <th>Latest One-Page Comic:</th><th>Latest Music:</th><th>Latest Nature Photos:</th><br>
  </tr>
  <tr>
    <td>
      <a href="{{ comics.link }}"><h3>{{ comics.title }}</h3></a>
    </td>
    <td>
      <a href="{{ music.link }}"><h3>{{ music.title }}</h3></a><br>
    </td>
    <td>
      <a href="{{ nature_photos.link }}"><h3>{{ nature_photos.title }}</h3></a><br>
    </td>
  </tr>

  <tr>
    <td>
      <a href="{{ comics.link }}"><img src="{{ comics.img }}"></a>
    </td>
    <td>
      <a href="{{ music.link }}"><img src="{{ music.img }}"></a>
    </td>
    <td>
      <a href="{{ nature_photos.link }}"><img src="{{ nature_photos.img }}"></a>
    </td>
  </tr>

  <tr>
    <td>    
      <a href="{{ comics.gallery_link }}">Comics Archive</a>
    </td>  
    <td>
      <a href="{{ music.gallery_link }}">Music Archive</a>
    </td>
    <td>
      <a href="{{ nature.gallery_link }}">Nature Photos Archive</a>
    </td>
  </tr>

    <tr class="divider"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

  <tr>
    <th>
      Latest Writing:
    </th>
    <th>
      Latest Tinkering:
    </th>
    <th>
      Latest Long-Form Comic
    </th>
  </tr>
  
  <tr>
    <td>
      <a href="{{ writings.link }}"><h3>{{ writings.title }}</h3></a>
    </td>
    <td>
      <a href="{{ projects.link }}"><h3>{{ projects.title }}</h3></a><br>
    </td>
    <td>
      <a href="{{ longform.link }}"><h3>{{ longform.title }}</h3></a><br>
    </td>
  </tr>
      
    
  <tr>
    <td>
      {% if writings.img %}
      <a href="{{ writings.link }}"><img src="{{ writings.img }}"></a><br>
      {% endif %}
    </td>
    <td>
      <a href="{{ projects.link }}"><img src="{{ projects.img }}"></a><br>
    </td>
    <td>
      <a href="{{ longform.link }}"><img src="{{ longform.img }}"></a><br>
    </td>
  </tr>

  <tr>
    <td>
      <a href="{{ writings.gallery_link }}">Effortpost Archive</a>
    </td>
    <td>
      <a href="{{ projects.gallery_link }}">Tinkering Archive</a>
    </td>
    <td>
      <a href="{{ longform.gallery_link }}">Longform Comic Archive</a>
    </td>
  </tr>

</table>
<br>
<hr>
<br>
<p><a href="/{{ whois }}">About This Site</a></p>


{% endblock %}
